<!DOCTYPE html>
<html>
<body>
<div id="map" style="width:800px; height:600px"></div>

<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj0zaiZpPUk5SHRiSDJGZkU2VCZzPWNvbnN1bWVyc2VjcmV0Jng9NzQ-"></script>
<script type="text/javascript">
window.onload = function(){
   var ymap = new Y.Map("map");
   ymap.drawMap(new Y.LatLng(<%= @ido %>,<%= @keido %>), 16, Y.LayerSetId.NORMAL);
   var label = new Y.Label(new Y.LatLng(<%= @ido %>,<%= @keido %>), "<%= @name  %>");
   ymap.addFeature(label);
}

</script>
</body>
</html>
